/* Form */

@import url("https://fonts.googleapis.com/css?family=Coming+Soon&display=swap");
/* END Form */
/* Demo Purposes */
body {
  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_background-image
   using the link to set background images
  */
 /* background-image: url("background.png");*/
font-family: 'Coming Soon', cursive;
}

