


article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}



html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

/* 
body{
   margin-top: 200px;
   
 } */


/* 这是一行注释 */


body {
    margin: 0;
    margin-top: 10em;
    /* 这里10em不起作用的原因是系统有一个预设的css，我不知道怎么禁用它 */
  }

/* 每一个项目的css */
.section{
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
}

.project_area{
  margin-bottom: .5em;
  
}

/* 任务完成的圆圈css */

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: .07em solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 1em;
  width: 1em;
  /* height和width调节圆圈的大小 */
  left: 0;
  /* left调节圆圈的左右位置，可以用负值 */
  top: 0.2em;
  /* top调节圆圈的上下位置，可以用负值 */
  position: absolute;
}

.round label:after {
  border: .125em solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: .3em;
  width: .6em;
  /* height和width调节对勾的大小  */
  left: .18em;
  top: .2em;
  /* top调节对勾的上下位置，可以用负值 */
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* 输入完成的任务的css */

.task_list_item{
  height: 2.5em;
  /* 高度是输入任务时文本框的一半，先这样设，如果丑的话再改 */
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px ;
  /* margin-top: .2em;
  margin-bottom: .2em; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.task_list_item_task_area div{
  height: 1.5em;
  display: inline-block;
}

.task_list_item_input{
  outline: none;
  font-size: 0.875em;
}

.task_list_item_date_area{
  height: 1em;
}

.task_list_item_date_button{
  /* height: 1.2em; */
  margin-left: 2em;
  /* -webkit-transform: scale(0.6); */
  font-size: 0.75em;
  color: #b8b8b8;

  vertical-align: middle;
  position: relative;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

/* 下面是输入任务框体的css */

.add_task_area{
  max-width: 30em;
  height: 4em;
}

.input_task_area{
  max-width: 30em;
  height: 4em;
  /* 输入任务的框已经限定死是5em了 */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
  border: solid 0.1em #ccc;
  border-radius: 0.5em;
}

.input_text:focus{
  outline: none;
}

.input_text:active{
  cursor: none;
}

.input_text{
 
  font-size: 18px;;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  border: none;
  max-width:30em;
}


.task_property_area div{
  display: inline-block;
}


/* .calendar_project_area{
  float: left;
  
}  */


/* 下面是日历按键的css */
.clock_button{
  background: none;
  outline: none;
  border: none;
}

.tags_review_area{
  float: right;
}

.tasktag_selector{
  width: 5em;
  height: 1em;
}


/* .createtask{
  margin-right: 2em;
  /* float: right; */
/* } */ 

.add_task_button_area button{
  display: inline-block;
}

.add_task_button{
  background-color: #db4c3f;
  border-color: #db4c3f;
  /* border-radius: 0.2em; */
  -webkit-webkit: border radius 0.3em;
  -moz-webkit: border radius 0.3em;
  -ms-webkit: border radius 0.3em;
  -o-webkit: border radius 0.3em;
  webkit: border radius 0.3em;;
  color: #fff;
}

.cancel_add_task_button{
  background: none;
  outline: none;
  padding: 0;
  border: none;

}



/* 日历的css样式 */
.simplepicker-wrapper{position:fixed;top:0;left:0;overflow:auto;background-color:#4c4c4c7d;width:100vw;height:100vh;display:none}.simplepicker-wrapper.active{display:block}.simpilepicker-date-picker{width:326px;cursor:auto;font-family:Verdana,Geneva,Tahoma,sans-serif;font-size:14px;background-color:#fff;margin:2% auto;box-shadow:1px 2px 4px .5px rgba(0,0,0,.22),1px 2px 4px .5px transparent}.simplepicker-day-header{color:#fff;background-color:#016565;text-align:center;padding:4px 0}.simplepicker-date-section{text-align:center;background-color:#078e8e;color:#fff}.simplepicker-date-section .simplepicker-month-and-year{font-size:22px;padding:14px 0 7px;font-weight:200}.simplepicker-date-section .simplepicker-date{font-size:35px;padding:2px;margin-bottom:12px}.simplepicker-select-pane{display:flex;width:100%}.simplepicker-select-pane .simplepicker-time,.simplepicker-selected-date{text-align:center;flex:2}.simplepicker-icon,.simplepicker-selected-date,.simplepicker-time{border:none;background:transparent;padding:2px;margin:4px 6px;width:25px;height:25px;opacity:.5}.simplepicker-selected-date,.simplepicker-time{opacity:1}.simplepicker-month-switcher{margin-top:5px}.simplepicker-icon:hover{opacity:.8}.simplepicker-icon.active,.simplepicker-icon:active{opacity:1}.simplepicker-icon:focus{outline:none}.simplepicker-icon-next{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1hcnJvdy1yaWdodCI+PGxpbmUgeDE9IjUiIHkxPSIxMiIgeDI9IjE5IiB5Mj0iMTIiPjwvbGluZT48cG9seWxpbmUgcG9pbnRzPSIxMiA1IDE5IDEyIDEyIDE5Ij48L3BvbHlsaW5lPjwvc3ZnPg==)}.simplepicker-icon-previous{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1hcnJvdy1sZWZ0Ij48bGluZSB4MT0iMTkiIHkxPSIxMiIgeDI9IjUiIHkyPSIxMiI+PC9saW5lPjxwb2x5bGluZSBwb2ludHM9IjEyIDE5IDUgMTIgMTIgNSI+PC9wb2x5bGluZT48L3N2Zz4=)}.simplepicker-icon-calender{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1jYWxlbmRhciI+PHJlY3QgeD0iMyIgeT0iNCIgd2lkdGg9IjE4IiBoZWlnaHQ9IjE4IiByeD0iMiIgcnk9IjIiPjwvcmVjdD48bGluZSB4MT0iMTYiIHkxPSIyIiB4Mj0iMTYiIHkyPSI2Ij48L2xpbmU+PGxpbmUgeDE9IjgiIHkxPSIyIiB4Mj0iOCIgeTI9IjYiPjwvbGluZT48bGluZSB4MT0iMyIgeTE9IjEwIiB4Mj0iMjEiIHkyPSIxMCI+PC9saW5lPjwvc3ZnPg==)}.simplepicker-icon-time{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1jbG9jayI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiPjwvY2lyY2xlPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiPjwvcG9seWxpbmU+PC9zdmc+)}.simplepicker-bottom-part{padding-top:6px;padding-bottom:12px;padding-left:48%}.simplepicker-calender table{width:100%;font-size:13px}.simplepicker-calender thead th{font-weight:400;font-size:15px;padding-bottom:6px;width:14.28%;height:30px;text-align:center}.simplepicker-calender tbody td{position:relative;text-align:center;vertical-align:middle;padding:12px;z-index:1}.simplepicker-calender tbody td:after{content:" ";visibility:hidden;display:block;position:absolute;left:50%;top:50%;height:35px;width:35px;border-radius:50%;transform:translate(-50%,-50%);background-color:rgba(0,0,0,.05)}.simplepicker-calender tbody td:hover:after{visibility:visible}.simplepicker-calender tbody td.active,.simplepicker-calender tbody td:active{color:#fff}.simplepicker-calender tbody .active:after,.simplepicker-calender tbody td:active:after{visibility:visible;background-color:teal;z-index:-1}.simplepicker-calender tbody td[data-empty]{pointer-events:none}.simplepicker-time-section{display:none;height:120px}.simplepicker-time-section input{box-sizing:border-box;width:120px;height:32px;max-width:120px;max-height:32px;padding:4px 3px;border:none;border-bottom:2px solid #ccc;font-size:14px;font-family:Verdana,Geneva,Tahoma,sans-serif;display:block;margin:25% auto}.simplepicker-time-section input:focus{outline:none;border-bottom-color:teal}.simplepicker-picker-section{width:100%;height:auto}.simplepicker-btn{border:none;background:transparent;font-family:Verdana,Geneva,Tahoma,sans-serif;font-size:16px;padding:7px 14px;border:1px solid #ddd;margin:0 5px;border-color:#016565;color:#016565;font-size:13px}.simplepicker-btn:active,.simplepicker-btn:hover{color:#fff;background-color:#016565}.simplepicker-fade{color:hsla(0,0%,88%,.95)}.simplepicker-btn,.simplepicker-icon,.simplepicker-wrapper{cursor:pointer}

