<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <title>beautiful dream</title>
    <!-- 引入 echarts.js -->

    <link rel="icon" href="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/dreamforfuture.png">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/v1/echart.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 3500px;height:3000px;"></div>
    <script type="text/javascript">
     // 基于准备好的dom，初始化echarts实例 http://echarts.baidu.com/examples/#chart-type-treemap
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
/*        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
 data: [5, 20, 36, 10, 10, 20]
}]
};

// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
*/
//myChart.showLoading();
//$.get('data/asset/data/flare.json', function (data) {
//myChart.hideLoading();

jQuery.ajaxSetup({async:false});
  function  getprojectrees(){
    projectsfortree = []
    $.get("/v1/projectsjson", function(data, status){
    var datafromserver = data
    //console.log(indicators.hist)
    projects = datafromserver.projects
    // histv = indicators.hist
    // signalv = indicators.signal
    // kdjkv =  indicators.kdjk
    // kdjdv =  indicators.kdjd
    // kdjjv =  indicatof       rs.kdjj

    for(j=0;j<projects.length;j++){
        console.log("--------")
    //macdvalue.push(projects[i])
    singleproject_tasks = []
    for(i=0;i<projects[j].Alltasksinproject.length;i++){
     var alltasks = projects[j].Alltasksinproject
      singleproject_tasks.push({"name":alltasks[i].task +"-"+alltasks[i].ID.toString(),"value":223})
    }
    projectsfortree.push({"name":projects[j].Name,"children":singleproject_tasks})
    }
   })
return projectsfortree
}
var data = {"name":"dm","children":getprojectrees()}

myChart.showLoading();
    myChart.hideLoading();
/*
    echarts.util.each(data.children, function (datum, index) {
        index % 2 === 0 && (datum.collapsed = true);
    });

    myChart.setOption(option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        series: [
            {
                type: 'tree',

                data: [data],

                top: '2%',
                left: '7%',
                bottom: '1%',
                right: '20%',

                symbolSize: 7,

                label: {
                    normal: {
                        position: 'left',
                        verticalAlign: 'middle',
                        align: 'right',
                        fontSize: 15
                    }
                },

                leaves: {
                    label: {
                        normal: {
                            position: 'right',
                            verticalAlign: 'middle',
                            align: 'left'
                        }
                    }
                },

                expandAndCollapse: true,
                animationDuration: 550,
                animationDurationUpdate: 750
            }
        ]
    });
*/
myChart.setOption(option = {
    tooltip: {
        trigger: 'item',
        triggerOn: 'mousemove'
    },
    series: [
        {
            type: 'tree',

            data: [data],

            top: '18%',
            bottom: '14%',

            layout: 'radial',

            symbol: 'pin',

            symbolSize: 10,

            initialTreeDepth: 1,
            rom:true,
            emphasis:{
                lineStyle:{width:20}
            },
            label:{show:false,position:"right",rotate:12,fontStyle:'italic',fontSize:15},
            lineStyle:{width:1,color:"red",curveness:0.1},
            animationDurationUpdate: 750

        }
    ]
});

</script>
</body>
</html>
